apiVersion: apps/v1
kind: Deployment
metadata:
  name: fluxgate-ui
  namespace: fluxgate
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fluxgate-ui
  template:
    metadata:
      labels:
        app: fluxgate-ui
    spec:
      containers:
        - name: ui
          image: keaz/flux-gate-ui:latest
          imagePullPolicy: Always
          env:
            - name: BACKEND_HOST
              value: api.fluxgate.example.com
            - name: BACKEND_PORT
              value: "443"
            - name: BACKEND_PROTOCOL
              value: https
            - name: WS_PROTOCOL
              value: wss
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "128Mi"
              cpu: "500m"
